<div class="container">
  <span>{{ title }} app is running!</span>

  <h1>Score: {{score}}</h1>



</div>

<a routerLink="one">One</a> &nbsp;

<a routerLink="two">Two</a> &nbsp;

<a routerLink="three">Three</a> &nbsp;

<a routerLink="home">Home</a> &nbsp;

<a routerLink="contact">Contact</a> &nbsp;

<a routerLink="services">Services</a> &nbsp;

<a routerLink="family">Family</a> &nbsp;

<a routerLink="directive">All Directives</a> &nbsp;

<a routerLink="custompipe">Custom Pipe</a> &nbsp;




<router-outlet></router-outlet>